@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


.card {
  background-color: #62C3FF;
  /* background: #0cb8de; */
  margin-top: -0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1vmin solid #05060f;
  box-shadow: 0.4rem 0.6rem white;
  overflow: hidden;
  color: black;
  position: relative;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 

}


.card p{
  font-size: 2em;
  font-family: "Jua", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.card h1{
  font-size: 7em;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}